<% title "Servidores" %>

<table>
  <tr>
    <th>Cliente</th>
    <th>Servidores</th>
  </tr>
  <% for customer in @customers %>
    <tr>
      <td style="width: 250px"><%= link_to(h(customer.name), customer_path(customer)) %><br/>
	</td>
      <td>
		<% if defined?(customer.servers.size)%>
		   <ul>
			<% customer.servers.each do |server| %>
			 <li>	<%= link_to "#{server.name}", server_path(server) %></li>
			<% end %>
			</ul>
		<% else %>
			<%= link_to(h(server.name), server_path(server)) %>
		<% end %>
	  </td>
    </tr>
  <% end %>
</table>
