<% title "Editar Control de Cambio" %>

<%= render :partial => 'form',  :locals => {:servers => @servers, :users => @users, :customer_id => @servers.customer_id} %>

<p>
  <%= link_to "Show", @control %> |
  <%= link_to "View All", controls_path %>
</p>
