<p class="action_bar"><%= link_to "Nuevo Cliente", new_customer_path, :class => "new_link" %></p>
<% title "Clientes" %>

<div id="childrens">

  <%= render :partial => "index", :locals => {:customers => @customers } %>

</div>